{%  extends "layout.html" %}

{%  load static %}

{% block body %}

<section id="products" class="products">
    <div class="container section-title" data-aos="fade-up">
        <h2>Our products</h2>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="" alt="">

            </div>
            <div class="col-md-12">
                <h3>Safety Supplies & Merchandise</h3>
                <p>Purchase high quality first aid equipment, <br>
                    emergency medical and safety supplies from the ERA Store. <br>
                    Need an item that is not listed? Request a quote</p>

                    <a href="#" class="btn btn-primary">Shop Now</a>

            </div>

        </div>

    </div>

</section>

{% endblock %}