{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h1 class="my-4">Our Products</h1>

    <div class="row">
        {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|truncatewords:15 }}</p>
                <p class="card-text"><strong>${{ product.price }}</strong></p>
                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View Details</a>
                <a href="{% url 'add_to_cart' product.id %}" class="btn btn-success">Add to Cart</a>
            </div>
        </div>
    </div>
            {% endfor %}
    </div>
</div>
        {% endblock %}
